body { 
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center; 
    min-height: 50vh;
    background-color: #BBFFB0;
    position: fixed;
} 

.galvene1 {
    background-color: #BEF08C ;
    min-height: 20vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 1px;
    font-size: 50px;
}

.teksts1 {
    background-color: #BEF08C;
    text-align: justify;
    max-width: 500px;
    position: fixed;
    left: 5px;
    word-wrap: break-word;
  }



.photo3 {
    width: 33%;
    position: fixed;
    left: 520px;
    bottom: 100px;
}

.teksts2 {
    background-color: #BEF08C;
    text-align: justify;
    max-width: 500px;
    position: fixed;
    left: 1045px;
    word-wrap: break-word;
  }

.uzturs {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}